.title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 123.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 36px;
}

.action_buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 36px;
}
