.background {
  background-color: #000000;
  background-position: absolute;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: bottom;
  background-image: url(/public/Login_background.jpg);
}

.container {
  display: grid;
  height: 100vh;
}

.child {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
